body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b9b9b9;
}

h2 {
    padding: 10px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.836);

}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b3adad;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #000000; 
    color: #fff;
    cursor: pointer;
}